html{
    scroll-behavior: smooth;
}
a{
    transition: .3s;
}
body{
    font-family: 'Poppins', sans-serif;
}
.slide-on-hover{
    transition: transform .3s ease-in-out;
}
.slide-on-hover:hover{
    cursor: pointer;
    transform: translateX(10px)
}
.swiper-container.hero-slider {
    width: 100%;
    height: 100%;
  }
  .object-cover-center{
      object-fit: cover;
      object-position: center;
  }
  .arrow{
      transition: transform .3s cubic-bezier(0.72, 0.02, 0.15, 0.99);
  }
.mitra{
    background-image: url(../../assets/img/tree.png); background-size: cover; background-position: 0px -60px
}
.footer{
    background-image: url(../../assets/img/footer-bg.png); background-repeat: no-repeat; background-size: contain;
}
.c-card{
    min-height: 13rem;
}
.bg-teal{
    background-color: #49AFA2;
    transition: all .3s ease-in-out;
}
.c-shadow{
    box-shadow: 0px -15px 40px 15px rgba(51, 51, 51, 0.041);
}

.partner{
    background-image: url(../../assets/img/bg-partner.png); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: bottom;
}

.ratio-16-9{
    aspect-ratio: 16 / 9;
}

.hover-teal-darken:hover{
    background-color: #2f998b !important;
}

.hover-teal:hover{
    color: #49AFA2 !important;
}

.text-teal{
    color: #49AFA2;
}

.bg-hero{
    background-image: url(../../assets/img/mobile-bg-hero.png); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: right;
    color: #333;
}

.join{
    background: linear-gradient(0deg, rgba(73, 175, 162, 0.95), rgba(73, 175, 162, 0.95)), url(../../assets/img/bg-join.svg);
}

.fs-7{
    font-size: 14px !important;
}

.fs-8{
    font-size: 12px !important;
}

.dropdown .dropdown-menu{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all .5s cubic-bezier(0.72, 0.02, 0.15, 0.99);
    display: block;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.dropdown .dropdown-menu .animated{
    transform: translateY(60px);
    transition: transform .5s cubic-bezier(0.72, 0.02, 0.15, 0.99);
}

.dropdown:hover .dropdown-menu .animated:nth-child(1){
    transition-delay: 0.1s !important;
    transform: translateY(0px) !important;
}
.dropdown:hover .dropdown-menu .animated:nth-child(2){
    transition-delay: 0.2s !important;
    transform: translateY(0px) !important;
}
.dropdown:hover .dropdown-menu .animated:nth-child(3){
    transition-delay: 0.3s !important;
    transform: translateY(0px) !important;
}
.dropdown:hover .dropdown-menu .animated:nth-child(4){
    transition-delay: 0.4s !important;
    transform: translateY(0px) !important;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.overlay-sidebar{
    visibility: hidden;
    opacity: 0;
    z-index: 1031;
    background-color: rgba(0, 0, 0, 0.6) ;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.sidebar{
    z-index: 1031;
    transform: translateX(-100%);
    transition: transform .3s cubic-bezier(0.72, 0.02, 0.15, 0.99);
}

.overlay-sidebar.show{
    visibility: visible;
    opacity: 1;
}

.sidebar.show{
    transform: translateY(0);
}

.nav-link.active{
    color: #4ab0a3 !important;
    background-color: #fafafafa;
}

.dropdown-mobile{
    min-height: 20px;
}
.dropdown-mobile-menu{
    overflow: hidden;
    height: 0;
    transition: all .3s cubic-bezier(0.72, 0.02, 0.15, 0.99);
}
.fab{
    z-index: 1031;
}

.border-teal{
    border-color: #49AFA2 !important;
}

.bg-dark-teal{
    background-color: #073455;
}

.bg-dark-teal-hover:hover{
    background-color: #052942;
}

.text-teal-darken{
    color: #073455;
}

.bg-teal-lighten{
    background-color: #62c2b5;
}

.form-padding{
    padding: 10px;
}


.mitra-card{
    transition: transform .5s cubic-bezier(0.72, 0.02, 0.15, 0.99);
}

.mitra-card:hover{
    transform: rotate(5deg);
    cursor: pointer;
}

.login-form, .reg-form{
    width: 500px;
}
.linear-white{
    background: linear-gradient(90deg, rgba(73, 175, 162, 0.98), rgba(53, 105, 165, 0.8));
}
.opacity-50{
    opacity: .45;
    transition: opacity .3s;
}

.hover-opacity-1:hover{
    opacity: 1;
}

.purpose-item:hover{
    cursor: pointer;
}
.purpose-item:hover .purpose-icon{
    opacity: 1;
}

.purpose{
    background-image: url(../../assets/img/bg-purpose-5.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.bg-card-purpose{
    transition: transform .3s ease-in-out;
}
.scale-bg-card-hover:hover .bg-card-purpose{
    transform: scale(1.1);
}
.card{
    transition: background-color .3s;
}
.card:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
.popup{
    visibility: hidden;
    display: none;
    opacity: 0;
    background-color: #3333338f;
    transition: .3s;
}
.card.product:hover .popup{
    visibility: visible;
    display: flex;
    opacity: 1;
}
.hover-bg-light-darken:hover{
    background-color: rgb(172, 198, 255) !important;
}
.form-control.custom, .form-select.custom{
    background-color: #f5f5f5;
    border: none;
    padding: 15px 20px;
}

.whatsapp-button{
    visibility: hidden;
    transform: scale(0);
    z-index: 2000 !important;
    transition: transform .5s cubic-bezier(0.72, 0.02, 0.15, 0.99);
}

.whatsapp-button.show{
    visibility: visible;
    transform: scale(1);
}

.content-blog{
    background-color: rgba(51, 51, 51, 0.521);
}

.fs-blog{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.003em
}
.bullets{
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
}
.bullets::after{
    content: '';
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50px;
}
.timeline{
    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
    background-color: #49AFA2;
    width: 3px;
}
.date-galeri{
    position: sticky;
    top: 80px;
}
.c-category{
    border: 2px solid #49AFA2;
    color: #49AFA2;
}
.promo{
    background: linear-gradient(45deg, rgba(224, 165, 89, 0.932), rgba(228, 226, 120, 0.932)), url(../../assets/img/bg-join.svg);
}
.hover-color{
    transition: filter 0.5s
}
.hover-color:hover{
    filter: grayscale(0);
}
.black-white{
    filter: grayscale(1);
}
.bg-our-team{
    background-image: url(../img/bg-our-team.png);
    background-size: cover;
    background-position: center;
}
@media only screen and (min-width: 768px) {
    .whatsapp-button{
        display: block ;
        visibility: visible ;
        transform: scale(1);
    }
    .bg-hero{
        background-image: url(../../assets/img/bg-hero-2.png); 
        background-position: -50px; 
        color: white;
    }
    .w-md-50{
        width: 50%;
    }   
    .fs-md-large{
        font-size: 48px;
    }
    .fs-md-3{
        font-size: 24px;
    }
    .benefits{
        width: 40rem;
        position: relative;
        transform: translateY(80px);
    }
    .md-fs-8{
        font-size: 12px !important;
    }
    .md-fs-7{
        font-size: 14px !important;
    }
    .md-shadow-md{
        box-shadow : 0 .5rem 1rem rgba(0,0,0,.15)!important
    }
}